<div class="panel_container">

  <div class="panel pOne">
    <div class="pg_content">
      <h2>Find something
        <a class="typewrite"
           data-period="2000"
           data-type='[ "Neat", "Rad", "Cool", "Shweet", "Awesome" ]'
           style="text-decoration: none; cursor: none">
           <span class="wrap"></span>
        </a> to eat for:</h2>

      <input type  = "button"
             class = "btn animated bounceInLeft"
             value = "Breakfast">
      <input type  = "button"
             class = "btn animated bounceInUp"
             value = "Lunch">
      <input type  = "button"
             class = "btn animated bounceInRight"
             value = "Dinner">
    </div>
  </div>

  <div class="panel pTwo">
    <div class="pg_content">
      <h2>What is in your fridge?</h2>
      <input type="text" id="primaryIngr" placeholder="Enter One">
      <br><br>
      <span class="back_btn" onclick="scrollto('one')">Back</span>
    </div>
  </div>

  <div class="panel pThree">
    <div class="pg_content">
      <h2>What else is in your fridge?</h2>
      <input type="text" id="secIngr" placeholder="Enter One">
      <br><br>
      <span class="back_btn" onclick="scrollto('two')">Back</span>
    </div>
  </div>

  <div class="panel pFour">
    <div class="pg_content">
      <h2>Select a cuisine:</h2>
      <form>
        <select name="selectCuisine" id="selectCuisine">
          <option disabled selected value>Select One</option>
          <option class="cuisine" value="American">American</option>
          <option class="cuisine" value="Asian">Asian</option>
          <option class="cuisine" value="Italian">French</option>
          <option class="cuisine" value="Spanish">Italian</option>
          <option value="Mediterranean">Mediterranean</option>
          <option class="cuisine" value="French">Spanish</option>
        </select>
      </form>
      <button class="btn" id="end_btn">Submit</button>
      <br><br>
      <span class="back_btn" onclick="scrollto('three')">Back</span>
    </div>
  </div>

  <div class="panel pFive">
    <div class="pg_content">

      <h3 id="title"></h3>

        <div class="recipe_img">
          <img id="img" src="#">
          <div id="recipe_btns" class="hidden">
            <% if current_user %>
              <%= form_for @recipe do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :src %>
                <%= f.hidden_field :url %>

                <%= f.submit "That's Neat!", :class => 'btn recipe_save'%>
              <% end %>
            <% end %>

            <input type    = "button"
                   class   = "btn recipe_refresh"
                   onclick = "refreshPage()"
                   value   = "Start Over">
          </div>
        </div>

      <div id="ing_list" class="hidden">
        <ul id="list">

        </ul>
      </div>

    </div>
  </div>

</div>
