<div class="panel_container">

  <div class="panel pOne">
    <div class="pg_content">
      <h2>Choose a meal:</h2>
      <input type  = "button"
             class = "btn"
             value = "Breakfast">
      <input type  = "button"
             class = "btn"
             value = "Lunch">
      <input type  = "button"
             class = "btn"
             value = "Dinner">
    </div>
  </div>

  <div class="panel pTwo">
    <div class="pg_content">
      <h2>Enter your main ingredient:</h2>
      <input type="text" id="primaryIngr" placeholder="Ex. Chicken, Beef, Tofu">
      <br><br>
      <span class="back_btn" onclick="scrollto('one')">Back</span>
    </div>
  </div>

  <div class="panel pThree">
    <div class="pg_content">
      <h2>Enter your secondary ingredient:</h2>
      <input type="text" id="secIngr" placeholder="Ex. Broccoli, Onion, Potato">
      <br><br>
      <span class="back_btn" onclick="scrollto('two')">Back</span>
    </div>
  </div>

  <div class="panel pFour">
    <div class="pg_content">
      <h2>Choose a cuisine:</h2>
      <form>
        <select name="selectCuisine" id="selectCuisine">
          <option disabled selected value>Select One</option>
          <option class="cuisine" value="American">American</option>
          <option class="cuisine" value="Asian">Asian</option>
          <option class="cuisine" value="Italian">Italian</option>
          <option class="cuisine" value="Spanish">Spanish</option>
          <option value="Mediterranean">Mediterranean</option>
          <option class="cuisine" value="French">French</option>
        </select>
      </form>
      <br>
      <button class="btn" id="end_btn">Submit</button>
      <br><br>
      <span class="back_btn" onclick="scrollto('three')">Back</span>
    </div>
  </div>

  <div class="panel pFive">
    <div class="pg_content">

      <h3 id="title"></h3>

      <div class="recipe_img">
        <img id="img" src="#">

        <div class="recipe_btns">
          <% if current_user %>
            <%= form_for @recipe do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :title %>
              <%= f.hidden_field :ingredients %>
              <%= f.hidden_field :src %>

              <%= f.submit "That's Neat!", :class => 'btn'%>
            <% end %>
          <% end %>

          <button class="btn" onclick="refreshPage()">Start Over</button>
        </div>
      </div>

      <div class="ing_list">
        <ul id="list">

        </ul>
      </div>

    </div>
  </div>

</div>
